<%- include("common/header.ejs") %>
    <%- include("common/navbar.ejs") %>

    <main id="main-contact">
        <section id="services-banner">
            <div class="container-fluid">
                <div class="row justify-content-end">
                    <div class="col-4 p-0">
                        <img src="/img/services/banner-bg.png" class="services-banner-img img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-11 col-lg-8">
                        <h1 class="services-banner-header"><%= tData.contactTitle %></h1>
                       <!--  <p class="services-banner-subheader">
                            Why I say old chap that is spiffing off his nut arse pear shaped plastered
                            Jeffrey bodge barney some dodgy.!!
                        </p> -->
                    </div>
                </div>
            </div>
        </section>

        <section id="contact-info">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-4">
                        <div class="contact-box">
                            <div class="contact-box-item">
                                <h6><%= tData.officeAdd %></h6>
                                <p><%= tData.address %></p>
                            </div>

                            <div class="contact-box-item">
                                <h6><%= tData.info %></h6>
                                <p><%= tData.phone %></p>
                                <p><%= tData.email %></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 col-lg-8">
                        <div class="contact-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.0561567569885!2d49.826520115394956!3d40.3854479793687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d9bed3abf25%3A0x150cd39880b77520!2sLotfi%20Zadeh%20Technology%20Center!5e0!3m2!1str!2s!4v1620319583109!5m2!1str!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            <div class="contact-map-mask"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="leave-message">
            <div class="container">
                <form action="#">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="leave-a-message"><%= tData.leaveMsg %></h4>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col-10 col-lg-6">
                            <input class="contact-input" type="text" placeholder="<%= tData.formName %>"" required>
                        </div>
                        <div class="col-10 col-lg-6 mt-4 mt-lg-0">
                            <input class="contact-input" type="email" placeholder="<%= tData.formEmail %>" required>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col-10 col-lg-12">
                            <input class="contact-input" type="text" placeholder="<%= tData.formSubject %>"  required>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col-10 col-lg-12">
                            <textarea id="" cols="30" rows="8" class="contact-input" placeholder="<%= tData.formEnterMsg %>" required></textarea>
                        </div>
                    </div>
                    <div class="row mt-4 justify-content-center">
                        <div class="col-10 col-lg-12">
                            <button type="submit" class="contact-button" ><%= tData.formSendMsg %></button>
                        </div>
                    </div>
                </form>

            </div>
        </section>

        <%- include("common/footer-content-secondary.ejs") %>
    </main>
<%- include("common/footer.ejs") %>
